var config = {
     environment: 'development'
    ,port: 8181
    ,host: '127.0.0.1'
    ,enable_cors: true
    ,cache_enabled: false
    ,log_format: '[:date] :req[X-Real-IP] \033[90m:method\033[0m \033[36m:req[Host]:url\033[0m \033[90m:status :response-time ms -> :res[Content-Type]\033[0m'
    ,postgres: {
        type: "postgis",
        user: "publicuser",
        db_user: 'development_cartodb_user_<%= user_id %>',
        host: '127.0.0.1',
        port: 5432,
        extent: "-180,-90,180,90",
        geometry_field: "the_geom",
        srid: 4326,
        simplify: true
    }
    ,redis: {
        host: '127.0.0.1',
        port: 6379,
        idleTimeoutMillis: 1,
        reapIntervalMillis: 1
    }
    ,sqlapi: {
        protocol: 'http',
        host: 'localhost.lan',
        port: 8080,
        version: 'v1'
    }
    ,varnish: {
        host: 'localhost',
        port: 6082,
        ttl: 86400
    }
};

module.exports = config;
